# .env.example — Este archivo sí puede ir en Git

ENV=preprod
DEBUG=False
LOG_LEVEL=INFO

API_PORT=8000
API_WORKERS=1

MLFLOW_PORT=5000
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT=renovacion-prestamo-preprod

MODEL_NAME=RenovacionPrestamo
MODEL_VERSION=latest

RECALL_MIN=0.70
UMBRAL_PREDICCION=0.50

CORS_ORIGINS=*
SECRET_KEY=cambia-esto-en-preprod